{% extends "base.html" %} {% block content %}
<div class="top">
  <h1>FSANZ DATA ANALYSIS SITE</h1>
  <h2>Login</h2>

  {% if error %}
  <p><strong>Error:</strong> {{ error }} {% endif %}</p>

  <form action="/login" method="post">
    Email<input type="email" name="email" style="margin-left: 23px" /> <br />
    Password<input type="password" name="password" /><br />
    <input type="submit" value="Submit" />
  </form>
  <a href="/register">Click if you don't have an account</a>
</div>
{% endblock %}
